@keyframes animacaoAlerta
{
    from
    {
        background-color: #000000;
        font-size: medium;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    to
    {
        background-color: #ff0000;
        font-size: x-large;
        position: absolute;
        left: 100px;
        top: 20px;
    }
}

div#alerta
{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff0000;
    animation-name: animacaoAlerta;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}




@keyframes animacaoAlertaContinuo
{
    0%
    {
        background-color: #000000;
        font-size: medium;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    50%
    {
        background-color: #00ff00;
        position: absolute;
        top: 100px;
    }
    
    100%
    {
        background-color: #ff0000;
        font-size: x-large;
        position: absolute;
        left: 100px;
        top: 20px;
    }
}

div#alertaContinuo
{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff0000;
    animation-name: animacaoAlertaContinuo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}









@keyframes animacaoAlertaContinuoSmart
{
    0%, 100%
    {
        background-color: #000000;
        font-size: medium;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    50%
    {
        background-color: #00ff00;
        position: absolute;
        top: 100px;
    }
    
    70%
    {
        background-color: #ffff00;
    }
    

}

div#alertaContinuoSmart
{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff0000;
    animation-name: animacaoAlertaContinuoSmart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}















@keyframes animacaoAlertaContinuoSmartSome
{
    0%
    {
        background-color: #000000;
        font-size: medium;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 1;
    }
    
    50%
    {
        background-color: #00ff00;
        position: absolute;
        top: 100px;
    }
    
    70%
    {
        background-color: #ffff00;
        opacity: 1;
    }
        
    100%
    {
        background-color: #000000;
        font-size: medium;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
    }
    

}

div#alertaContinuoSmartSome
{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff0000;
    opacity: 0;
    
    animation-name: animacaoAlertaContinuoSmartSome;
    animation-duration: 5s;
    animation-iteration-count: 1;
}




